body {
  text-align: center;
  background: radial-gradient(
    circle,
    rgb(109, 14, 55) 0%,
    rgba(214, 219, 226, 1) 100%
  );
}

.Simon {
  font-family: "Press Start 2P", cursive;
  margin-bottom: 0px;
  color: #b79914;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  padding: 20px;
  margin-bottom: 0px;
  color: #fef2bf;
  background: -webkit-linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
   
  -webkit-text-fill-color: transparent;
  color: crimson;
}

.score {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #af941d;
  margin-bottom: 0px;
}
p {
  padding-top: 30px;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  word-spacing: 0.5rem;
  font-weight: 800;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 550px;
}

.btn {
  margin: 1.5 rem auto;
  padding: 0.5rem;
  height: 200px;
  width: 200px;
  border: 0.325rem solid rgb(3, 39, 60);
  border-radius: 30%;
}

.game-over {
  background: rgb(115, 43, 43);
  background: radial-gradient(
    circle,
    rgba(115, 43, 43, 1) 0%,
    rgb(1, 171, 92) 34%
  );
}

.red {
  background-color: #f2f2f2;
}

.green {
  background-color: rgb(70, 8, 129);
}

.blue {
  background-color: rgb(11, 228, 94);
}

.yellow {
  background-color: rgb(11, 1, 157);
}

.pressed {
  box-shadow: 0 0 1.25rem rgb(9, 136, 24);
  background-color: white;
}
