body {
  text-align: center;
  background: radial-gradient(circle,
      rgb(234, 4, 103) 0%,
      rgba(214, 219, 226, 1) 100%);
}

.Simon {
  font-family: "Press Start 2P", cursive;
  margin-bottom: 2px;
  color: #2e5b6b;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 60px;
  padding: 50px;
  margin-bottom: 0px;
  color: #b7a864;
  background: -webkit-linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);

  -webkit-text-fill-color: transparent;
  color: rgb(68, 58, 111);
}

.score {
  font-family: "Press Start 2P", cursive;
  font-size: 5rem;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #6d643b;
  margin-bottom: 5px;
}

p {
  padding-top: 30px;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  word-spacing: 2rem;
  font-weight: 500;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 550px;
}

.btn {
  margin: 1.5 rem auto;
  padding: 0.5rem;
  height: 200px;
  width: 200px;
  border: 0.325rem solid rgb(94, 123, 140);
  border-radius: 30%;
}

.game-over {
  background: rgb(115, 43, 43);
  background: radial-gradient(circle,
      rgba(115, 43, 43, 1) 0%,
      rgb(1, 171, 92) 34%);
}

.red {
  background-color: #f2f2f2;
}




.blue {
  background-color: rgb(196, 228, 14);
}



.pressed {
  box-shadow: 0 0 1.25rem rgb(9, 136, 24);
  background-color: rgb(190, 1, 1);
}