body {
  text-align: center;
  background: radial-gradient(
    circle,
    rgb(21, 2, 60) 0%,
    rgb(149, 150, 151) 100%
  );
}

.Simon {
  font-family: "Press Start 2P", cursive;
  margin-bottom: 0px;
  color: #401c40;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  padding: 20px;
  margin-bottom: 0px;
  color: #4ddc76;
  background: -webkit-linear-gradient(147deg, #75c0fd 0%, #700000 74%);

  -webkit-text-fill-color: transparent;
  color: rgb(157, 53, 134);
}

.score {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #6b39b7;
  margin-bottom: 0px;
}
p {
  padding-top: 30px;
  font-size: 1.2rem;
  font-family: Times, "Times New Roman", Georgia, serif;
  word-spacing: 0.5rem;
  font-weight: 800;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 550px;
}

.btn {
  margin: 1.5 rem auto;
  padding: 0.5rem;
  height: 200px;
  width: 200px;
  border: 0.325rem solid rgb(60, 3, 54);
  border-radius: 30%;
}

.game-over {
  background: rgb(209, 21, 21);
  background: radial-gradient(
    circle,
    rgb(209, 21, 21) 0%,
    rgb(88, 187, 17) 34%
  );
}

.red {
  background-color: #187f8d;
}

.green {
  background-color: rgb(138, 28, 114);
}

.blue {
  background-color: rgb(11, 228, 94);
}

.yellow {
  background-color: rgb(11, 1, 157);
}

.pressed {
  box-shadow: 0 0 1.25rem rgb(9, 136, 24);
  background-color: rgb(42, 156, 156);
}
